/* Fix avatar to maintain circular shape even with non-square images */
.navbar-custom .avatar-container .avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.navbar-custom .avatar-container {
  aspect-ratio: 1 / 1;
}

